* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
}

main {
  margin: 3%;
  display: grid;
  border-radius: 15px;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  width: 900px;
}

.card {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15% 15% 20% 15%;
  color: hsl(0, 0%, 95%);
}

.card .text-box {
  margin-top: -30%;
}

.card p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.7;
}

.card h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  margin-bottom: 20%;
  font-size: 40px;
  color: hsl(0, 0%, 95%);
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  }

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  }

.button a {
  padding: 15px 25px 15px 25px;
  border: solid hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  border-radius: 45px;  
}
  

.sedan .button a {
  color: hsl(31, 77%, 52%);
}

.suv .button a {
  color: hsl(184, 100%, 22%);
}

.luxury a {
  color: hsl(179, 100%, 13%);
}

.button a:hover {
background-color: transparent;
color: hsl(0, 0%, 95%);
}

@media only screen and (max-width: 767px) { 
  
  main {
    grid-template-columns: 1fr;
    margin: 2rem;
  }

  .card {
    height: 450px;
  }

  .card .text-box {
    margin-top: -10%;
  }

.card .text-box h1 {
  margin-bottom: 10%;
}

}